<form [formGroup] ="skillForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <label for="fullname">Name</label>
        <input type="text" formControlName="name">
    </div>
    <br> 
    
    <div>
        <button type="button" class="btn btn-primary" (click)="addSkill()">Add new skill</button>
    </div>
    <br>
    <div class="row mb-3" formArrayName = "skills">
        <div *ngFor="let skill of getSkills().controls; let i = index">
            <div [formGroupName]="i">
                <div class="row">
                    <div class="col-6">
                        Skill <input type="text" formControlName = "Skill">
                    </div>
                    <div class="col-6">
                        Experience <input type="text" formControlName = "Experience">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
